/* Colors styles */
$background-light: rgba(245, 245, 245, 1);
$color-white: rgba(255, 255, 255, 1);
$color-main: rgba(250, 74, 12, 1);
$color-dark: rgba(52, 52, 52, 1);
$color-auxiliar-1: rgba(0, 160, 233, 1);
$color-auxiliar-2: rgba(203, 91, 102, 1);
$color-auxiliar-3: rgba(243, 152, 0, 1);
$color-auxiliar-4: rgba(149, 10, 239, 1);
$color-auxiliar-5: rgba(92, 188, 68, 1);
$color-auxiliar-6: rgba(210, 48, 48, 1);

/* Effect styles */
$box-shadow-light: 0px 10px 40px rgba(0, 0, 0, 0.03);
$box-shadow-medium: 0px 2px 4px rgba(0, 0, 0, 0.25);
$character-shadow: drop-shadow(8px -6px 7px rgba(0, 0, 0, 0.25));

/* Fonts*/
$font-primary: "Poppins", "Sans-serif";
$font-secondary: "Open Sans", "Sans-serif";

html {
  font-size: 62.5%;
}

.social-menu {
  display: flex;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
}
