.contenedor-header{
  position: relative;
  width: 100vw;
  height: 230px;
  overflow: hidden;  
}

.header-ball {
  height: 750px;
  width: 750px;
  position: absolute;
  left: calc(50% - 388px);
  top: -580px;
  margin: 0 auto;
  background-color: $color-main;
  border: 13px solid $color-dark;
  border-radius: 50%;
  &__artwork {
    display: flex;
    justify-content: center;
    position: relative;
    
    &--img {
      position: absolute;
      top: 530px;
      filter: $character-shadow;
      max-height: 250px;
      max-width: 90%;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 45px);
    top: 145px;
    background-color: $color-white;
    width: 60px;
    height: 60px;
    border-radius: 50em;
    border: 10px solid #343434;
    img {
      width: 50px;
    }
  }
}
