.header-ball {
  height: 230px;
  position: relative;
  margin: -13px -13px 0 -13px;
  overflow: hidden;
  background-color: $color-main;
  border: 13px solid $color-dark;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  &__artwork {
    display: flex;
    justify-content: center;
    position: relative;
    &--img {
      position: absolute;
      top: -20px;
      filter: $character-shadow;
      max-height: 300px;
      max-width: 90%;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: calc(50% - 45px);
    top: 185px;
    background-color: $color-white;
    width: 70px;
    height: 70px;
    border-radius: 50em;
    border: 10px solid #343434;
    img {
      height: 50px;
    }
  }
}
