.poke-info {
  &__name {
    h1 {
      @include h1;
      text-transform: capitalize;
    }
  }
  &__type {
    h2 {
      @include h2;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}

.characteristics {
  &__characteristic--name {
    h2 {
      @include h2;
      text-transform: capitalize;
    }
  }
  &__characteristic--value {
    h3 {
      @include h3;
      color: $color-main;
      text-transform: capitalize;
    }
  }
}

.description {
  &__title {
    background-color: $color-main;
  }
  &__title {
    h2 {
      @include h2;
      color: $color-white;
    }
  }
  &__content {
    p {
      @include p;
    }
  }
}

.stats {
  &__container {
    display: flex;
  }
  &__title {
    h2 {
      @include h2;
    }
  }
  &__name {
    h3 {
      @include h3;
    }
  }
  &__value {
    h3 {
      @include h3;
      padding-left: 0.5em;
    }
  }
}
