:root {
  --poke-red: #c32027;
  --poke-dark-red: #b40d1d;
  --poke-light-gray: #fcfcfc;
  --poke-dark-gray: #343434;
  --poke-glass: #e4f2f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--poke-light-gray);
}
header {
  display: flex;
  background-color: var(--poke-red);
  height: 6rem;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
}
.header__logo img {
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}

nav {
  color: white;
  padding: 1.5rem;
}
nav i {
  font-size: 2.5rem;
}

main {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.pokedex__body {
  height: 80vh;
  width: 40rem;
  background-color: var(--poke-red);
  border-radius: 4.5rem;
  border: 3px solid var(--poke-dark-red);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.pokedexUpperModule {
  font-size: 4rem;
  color: var(--poke-dark-gray);
  margin: 1rem;
}

/*******************************************************************/
.screen {
  width: 86%;
  height: 40rem;
  background-color: var(--poke-glass);
  overflow: scroll;
  }

.screenRow1{
display: flex;
justify-content: space-between;
padding: 1rem;
align-items: center;
}
.screenRow1Left{
  background-color: #49BEAA;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 60%;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}
.numberTypeContainer{
  background-color: white;
  border-radius: 0.5rem;
  display:flex;
  justify-content: space-between;
  padding: 0.5rem;

}

.name{
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.spriteContainer{
  background-color: rgb(221, 243, 122);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 10rem;
  height: 10rem;

}
.sprite {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
}

.basicStats{
  margin: 1rem;
  display: flex;
  background-color: var(--poke-light-gray);
  flex-direction: column;
  justify-content: space-evenly;
  padding: .5rem;
  border-radius: 1rem;
}
.basicStats p{
  margin-right: 1rem;
  
  
}
.basicStats > div{
  background-color:#C3E9E3;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  min-width: 12rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  display: flex;
}
.basicStats > div:last-child{
  margin-bottom: 1rem;
}

/************************************************************************/
.controls {
  background-color: var(--poke-red);
  display: flex;
  justify-content: space-around;
}
.pokeBall {
  background-color: var(--poke-dark-red);
  padding: 1rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin: 1rem;
}
.controls__ball {
  display: flex;
  flex-direction: column;
}
.controls__ball--upper {
  height: 10rem;
  width: 20rem;
  background-color: var(--poke-red);
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom: 1rem solid black;
}
.controls__ball--bottom {
  height: 10rem;
  width: 20rem;
  background-color: white;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  border-top: 1rem solid black;
}
.controls__ball--center {
  background-color: black;
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  margin: 7.5rem;
}
.controls__ball--center::after {
  content: "";
  background-color: white;
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin: 1rem;
}
.goButton {
  background-color: var(--poke-dark-gray);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(49, 49, 49);
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.goButton a {
  color: white;
  text-decoration: none;
}

/**********************************************************************/
footer {
  display: flex;
  background-color: var(--poke-dark-gray);
  height: 6rem;
  width: 100vw;
  color: white;
  justify-content: space-between;
}

footer a {
  color: white;
}

.disclaimer {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.rrss {
  display: flex;
  align-items: center;
}
.rrss i {
  font-size: 2.5rem;
  padding: 1rem;
}
